.home h1, .home p {
    color: #160C28;
}

.home {
    background-color: white;
    height: 100vh;
}

.selector-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
.selector {
    display: flex;
    justify-content: center; /* add this to center the items horizontally */
    margin-top: 20px; /* add this to create some space between the selector and the content above */
  }
  

.selector img {
    margin-bottom: -22px;
}

.feed {
    position: relative;
  }
  
.feed h1 {
    position: absolute;
    color: white;
    top: 0;
    left: 50%;
  }

  .feed-item {
    display: flex;
  }
  
  .feed-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1; /* add this to make the div fill the remaining space */
  }
  