#app {
    height: 100vh;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
.mySwiper body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: white;
    margin: 0;
    padding: 0;
  }

.mySwiper p, h1 {
    font-weight: Light;
    color: white;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: radial-gradient(#3A2861, #1E0E40, #180B33);
    
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    #app {
      height: auto;
    }
    .swiper {
      height: auto;
    }
  }
  
  .btn {
    text-decoration: none;
    background-color: #B8ACD3;
    border-radius: 15px;
    color: #1E0E40;
    font-weight: bold;
    padding: 1em;
    width: 100%;
    max-width: 100px; /* or any other suitable value */
  }